########################################
# Camunda Platform full development setup
########################################
version: '3.8'

volumes:
  certs:

networks:
  - camunda-cloud
  - camunda-platform

services:
########################################
# Camunda Platform Service
# In Memory Database
########################################
  camunda-platform:
    build:
      context: ./camunda-platform-spring-boot
    ports:
      - "8080:8080"
    environment:
      SERVER_PORT: 8080
      MAIL_HOST: smtp
      MAIL_PORT: 2500
      MAX_POOL_SIZE: 3
      RABBITMQ_HOST: rabbitmq-mgmt
      ADMIN_CLIENT_URL: http://camunda-node-1:8080
      DATA_API_URI: http://data-api-demo:9000/api
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1000M
        reservations:
          memory: 1000M
    healthcheck:
      test: ["CMD", "curl", "-f", "http://camunda-platform:8080/engine-rest/engine"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: always
    networks:
      - camunda-platform
#    depends_on:
#      - data-api-demo
#      - reactjs-demo
#      - camunda-postgres
#      - smtp
#      - apacheds
#      - kafka
#      - rabbitmq-mgmt
