########################################
# Camunda Platform full development setup
########################################
version: '3.8'

volumes:
  certs:

networks:
  # Note there are two bridge networks. One for Zeebe and one for IAM. Operate, Tasklist, and Optimize use both
  camunda-cloud: { }
  camunda-platform: { }

services:
########################################
# Camunda Platform Service
########################################
  camunda-7:
    container_name: camunda-7
    build:
      context: ./camunda-platform-spring-boot
    ports:
      - "8080:8080"
    volumes:
      - ./certs:/opt/certs
    environment:
      PROFILES: cors,prod,email
#      DATABASE_URL: jdbc:postgresql://postgres:5432/camunda?user=camunda&password=camunda&characterEncoding=UTF-8&reWriteBatchedInserts=true&ssl=true&sslrootcert=/opt/certs/root.crt&sslcert=/opt/certs/root.crt&sslmode=require
      DATABASE_URL: jdbc:postgresql://postgres:5432/camunda?user=camunda&password=camunda&characterEncoding=UTF-8&reWriteBatchedInserts=true
      DATABASE_DRIVER: org.postgresql.Driver
      PORT: 8080
      MAX_POOL_SIZE: 3
      MAIL_HOST: smtp
      MAIL_PORT: 2500
      RABBITMQ_HOST: rabbitmq-mgmt
      ADMIN_CLIENT_URL: http://camunda-node-1:8080
      DATA_API_URI: http://data-api:9000/api
#      VM_OPTIONS: -XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 1000M
        reservations:
          memory: 1000M
    healthcheck:
      test: ["CMD", "curl", "-f", "http://camunda-platform:8080/engine-rest/engine"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: always
    networks:
      - camunda-platform
    depends_on:
      - postgres
#      - data-api
#      - reactjs
#      - smtp
#      - apacheds
#      - kafka
#      - rabbitmq-mgmt
