########################################
# Camunda Platform full development setup
########################################
version: '3.8'

volumes:
  certs:

networks:
  # Note there are two bridge networks. One for Zeebe and one for IAM. Operate, Tasklist, and Optimize use both
  camunda-platform: { }

services:
  #########################################
  # Camunda Optimize
  #########################################
  optimize-demo:
    image: registry.camunda.cloud/optimize-ee/optimize:3.7.2
    environment:
#      OPTIMIZE_CAMUNDABPM_REST_URL: http://camunda-platform-n1:8081/engine-rest
#      OPTIMIZE_CAMUNDABPM_WEBAPPS_URL: http://camunda-platform-n1:8081/camunda
      OPTIMIZE_ELASTICSEARCH_HOST: optimize-elastic
      OPTIMIZE_ELASTICSEARCH_HTTP_PORT: 9200
    ports:
      - "8090:8090"
    volumes:
      - ./optimize-config.yaml:/optimize/config/environment-config.yaml
      - /Users/paullungu/.camunda/optimize-license.txt:/optimize/config/OptimizeLicense.txt:ro
    links:
      - camunda-platform
      - optimize-elastic
    depends_on:
      optimize-elastic:
        condition: service_healthy
      camunda-platform:
         condition: service_healthy
    networks:
      - camunda-platform

  optimize-elastic:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.11.2
    ports:
      - "9200:9200"
    environment:
      - cluster.name=docker-cluster
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - discovery.type=single-node
    ulimits:
      memlock:
        soft: -1
        hard: -1
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200/"]
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - camunda-platform
