<strong>Here you would put the actual form to work on the task</strong>

<p>
  You can use this form through Camunda Tasklist
  by setting the formKey of a BPMN User Task to:
  <code>embedded:app:forms/task-form.html</code>
</p>

<form class="form-horizontal">

  <div class="control-group">
    <label class="control-label">Pharmacy Name</label>
    <div class="controls">
      <input type="text"
             cam-variable-type="String"
             name="pharmacyName"
             ng-model="case.pharmacyName"
             class="form-control" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Pharmacy Phone</label>
    <div class="controls">
      <input type="text"
             name="phone"
             cam-variable-type="String"
             ng-model="case.phone"
             class="form-control" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Pharmacy Fax</label>
    <div class="controls">
      <input type="text"
             name="fax"
             cam-variable-type="String"
             ng-model="case.fax"
             class="form-control" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Pharmacy Email</label>
    <div class="controls">
      <input type="text"
             name="email"
             cam-variable-type="String"
             ng-model="case.email"
             class="form-control" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Pharmacy Info Is Correct?</label>
    <div class="controls">
      <input type="checkbox"
             cam-variable-type="Boolean"
             name="isCorrect"
             ng-model="case.isCorrect"
             class="form-control" />
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Comment</label>
    <div class="controls">
      <textarea name="comment"
                cam-variable-type="String"
                ng-model="case.comment"
                class="form-control" >
      </textarea>
    </div>
  </div>

  <script cam-script type="text/form-script">
    camForm.on('form-loaded', function() {
      // tell the form SDK to fetch the variable named 'customer'
      camForm.variableManager.fetchVariable('case');
    });
    camForm.on('variables-fetched', function() {
      // work with the variable (bind it to the current AngularJS $scope)
      $scope.case = camForm.variableManager.variableValue('case');
    });
  </script>
</form>